*::-webkit-scrollbar {
	display: none;
}
* {
	scrollbar-width: none;
}
* {
	-ms-overflow-style: none;
}

html, body {
	// overflow: hidden;
}

:root:root {
	--van-field-label-color: #1E1F24;
  }

.box {
	width: 100vw;
	// height: 1624px;
	position: relative;
	height: 100vh;
    overflow-y: scroll;
	background: #E4563E;
	overflow-x: hidden;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}
.jump-btn{
	background: url(../../assets/upBtn.png) no-repeat;
    background-size: 530px 90px;
    width: 530px;
    height: 90px;
	position: relative;
	left: -16PX;
	border: none;
	margin-left: 80px;
}

.tip-video{
	color: #c8c9cc ;
}

.intor{
	background: url(../../assets/bg.png) no-repeat;
	background-size: 750px 1442px;
	position: absolute;
	top: 0%;
	width: 750px;
	height: 1442px;
	.form{
		margin-top:486px;
		padding-bottom: 62px;
		.group{
			margin-top:40px;
		}
		.groupBottom{
			margin-bottom:20px;

		}
	}
}
.head-img{
	width: 326px;
	height: 62px;	
}