*::-webkit-scrollbar {
	display: none;
}
* {
	scrollbar-width: none;
}
* {
	-ms-overflow-style: none;
}

html, body {
	overflow: hidden;
}

:root:root {
	--van-field-label-color: #1E1F24;
  }

.box {
	width: 100vw;
	// height: 1624px;
	position: relative;
	height: 100vh;
    overflow-y: scroll;
	background: #2A0D13;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}

.intor{
	background: url(../../assets/bg.png) no-repeat;
	background-size: 750px 1822px;
	position: absolute;
	top: 0%;
	width: 750px;
	height: 1822px;
	.form{
		margin-top:376px;
		padding-bottom: 62px;
		.group{
			margin-top:40px;
		}
	}
}
